@use "../../styles/abstracts" as *;

.detail_notification {
  position: absolute;
  padding: 0 1rem 0 4rem;
  bottom: -3rem;
  height: 3rem;
  display: flex;
  font-size: $fs-primary;
  align-items: center;
  color: white;
  font-weight: $fw-semiBold;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  background-color: $cl-secondary;
  transition: 0.2s;
  overflow: hidden;
}

.open_notification {
  bottom: 0;
}

.detail_notification_img {
  position: absolute;
  left: 0;
  z-index: 1;
}

.detail_notification_btn {
  outline: none;
  border: none;
  background: none;
  color: $cl-text;
  font-weight: $fw-semiBold;
  text-decoration: underline;
  margin-left: 0.3rem;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .detail_notification {
    font-size: $fs-media;
  }
}