@use "../../styles/abstracts" as *;

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_img {
  margin-bottom: 1.5rem;
  width: 250px;
}

.home_name {
  font-size: $fs-h1;
  font-weight: $fw-bold;
  margin-bottom: 0.5rem;
}

//.education {
//  width: 300px;
//}
