@use "../../styles/abstracts" as * ;

.basket_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}
.basket_card_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  height: 15rem;
  overflow: scroll;
}

.input_wrapper {
  position: relative;
  height: 2rem;
  margin: 0.5rem 0;
}

.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.basket_footer {
  margin: 2rem 0 5rem;
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  padding: 1rem;
  background-color: $cl-brown;
}

.basket_info {
  font-size: $fs-secondary;
  color: $cl-title;
  font-weight: $fw-primary;
}

.basket_orders {
  font-size: $fs-primary;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}